.cartContainer {
  max-width: 800px;
  margin-left: -200px;
  padding: 20px;
  border-radius: 10px;
  background: var(--color-soft-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.title {
  text-align: center;
  color: var(--color-white);
  font-size: 30px;
  margin-bottom: 10px;
}

.productList {
  width: 100%;
}

.productHeader,
.productItem {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.productHeader {
  font-weight: bold;
  color: var(--color-white);
  margin-top: 30px;
}

.productItem {
  border-bottom: 1px solid var(--color-white);
}

.productItem span,
.productHeader span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productName {
  font-weight: bold;
  font-size: 20px;
}

.price, .quantity, .discount, .total {
  font-size: 15px;
}

.discount {
  color: var(--color-mint);
}

.subtotal {
  margin-bottom: 0px;
  margin-top: 80px;
}

.totalAmount {
  margin-top: 5px;
  color: var(--color-soft-yellow);
}

.summary {
  text-align: right;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
