.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0 100px;
}

.title {
  margin-bottom: 0px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  margin-bottom: 40px;
  font-weight: 200;
  text-align: center;
  font-size: 30px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button { 
  background-color: var(--color-gray);
  color: inherit;
  border: var(--border-main-buttons);
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color var(--duration-button-transition);
}

.button:hover {
  background-color: var(--color-mint);
  color: var(--color-blue-flapp);
}

.cartIcon {
  width: 100px;
  height: 100px;
  background-color: var(--color-mint);
  border-radius: 50%;
  margin-top: 20px;

}

.cartIcon img {
  width: 100%;  
  height: 100%;  
}


