:root {

  /* Main colors */
  --color-white: #fff;
  --color-blue-flapp: #0056b8; 
  --color-gray: #70706e;
  --color-dark-gray: #333;
  --color-mint: #e0ffe3;
  --color-soft-yellow:rgb(232, 219, 97);
  
  /* Color Variants */
  --color-soft-blue:hsla(240, 81.30%, 14.70%, 0.16);

  /* Borders */
  --border-main-buttons: 1px solid var(--color-blue-flapp);

  /* Animation */ 
  --duration-button-transition: 0.4s;
  
}





