:root {

  /* Main colors */
  --color-white: #fff;
  --color-blue-flapp: #0056b8; 
  --color-gray: #70706e;
  --color-dark-purple:hsl(274, 91.90%, 29.00%);
  --color-mint: #e0ffe3;

  /* Color variants */
  --color-blue-flapp-alpha-50: rgba(0, 86, 184, 0.5);

  /* Borders */
  --border-main-buttons: 1px solid var(--color-blue-flapp);

  /* Animation */ 
  --duration-button-transition: 0.3s;
  
}





